@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Nunito Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Helvetica Neue", sans-serif;
  --font-quicksand: "Quicksand", system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Helvetica Neue", sans-serif;

  /* Breakpoint for small screens */
  --breakpoint-xs: 450px;
}

body {
  @apply font-quicksand;
}